@model IEnumerable<EShop.ViewModels.CategorySubViewModel>


<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.CategoryNameSub)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>

        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.CategoryNameSub)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>

            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.CategorySubID }) |
                @Html.ActionLink("Details", "Details", new { id = item.CategorySubID }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.CategorySubID })
            </td>
        </tr>
    }

</table>
